.popover {
    position: absolute;
}

.popover-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 1;
}

.popover-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
}

.popover-arrow {
    position: relative;
    display: block;
    left: 10px;
    width: 15px;
    height: 15px;
    border-color: transparent transparent #fff #fff;
    transform: rotate(45deg);
    background: white;
    box-shadow: -2px 2px 5px -2px rgba(0,0,0,0.1);
}

.popover-content {
    padding: 15px;
    background: white;
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}