.status-bar {
    min-height: 2em;
    max-height: 2em;
    background: lightblue;
}

.status-bar .active {
    background: white;
}

.view-type, .page-info {
    padding: 5px;
}

.view-type svg, .page-info svg {
    width: 0.8em;
    height: 0.8em;
}

.view-type span, .page-info span {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#download:hover, #download-all:hover {
    background: white;
}

#delete:hover {
    background: tomato;
}