.pen-pad {
    display: flex;
    width: 100%;
    background: darkgrey;
}

.main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content .container {
    display: block;
    overflow: auto;
}

.boards {
    position: relative;
    width: 100%;
}

.boards .canvas {
    margin-bottom: 5px;
}

.landscape .canvas:last-child, .portrait .canvas:last-child {
    margin-bottom: 0;
}

.landscape .main-content{
    width: 100%;
    transition: width 0.2s ease;
}

.landscape, .portrait, .grid {
    justify-content: center;
    align-items: center;
}

.portrait .main-content{
    width: 60%;
    transition: width 0.2s ease;
}

.grid .main-content {
    width: 100%;
    transition: width 0.2s ease;
}

.landscape .boards, .portrait .boards {
    display: block;
}

.grid .boards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.grid .canvas {
    width: 49.5%;
}